<launch>
  <arg name="env_map" default="$(find neo_maps)/neo_inoFa.yaml" />

  <!--- Run AMCL -->
  <remap from="/scan" to="/sick_s300/scan" />
  <include file="$(find neo_2dnav_mp_500)/ros/launch/$(env ROBOT)_amcl_diff.launch" />

  <node name="map_server" pkg="map_server" type="map_server" args="$(arg env_map)"/>

 <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find neo_2dnav_mp_500)/ros/launch/$(env ROBOT)_costmap_common.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find neo_2dnav_mp_500)/ros/launch/$(env ROBOT)_costmap_common.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find neo_2dnav_mp_500)/ros/launch/$(env ROBOT)_costmap_local.yaml" command="load" />
    <rosparam file="$(find neo_2dnav_mp_500)/ros/launch/$(env ROBOT)_costmap_global.yaml" command="load" />
    <rosparam file="$(find neo_2dnav_mp_500)/ros/launch/$(env ROBOT)_planer_local.yaml" command="load" />
  </node>

</launch>
